# ==============================================================================
# 作業系統快取檔案 (OS Cache Files)
# ==============================================================================

# macOS ------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

# 圖標與縮圖快取
Icon?
._*

# 檔案系統相關
.Spotlight-V100
.Trashes

# Windows ----------------------------------------------------------------------
# 縮圖快取
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# 資料夾設定與屬性
[Dd]esktop.ini

# 資源回收桶與系統資訊
$RECYCLE.BIN/
System Volume Information/

# Linux ------------------------------------------------------------------------
*~

# 暫存掛載點或核心轉儲
.fuse_hidden*
.directory
.Trash-*
.nfs*